{% import _self as nav %}

{% macro render_menu(items) %}
    {% import _self as nav %}

    {% for item in items %}
        <li class="{{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }}">
            <a href="{{ item.url }}">{{ item.title }}</a>

            {% if item.items %}
                <ul class="dropdown-menu">{{ nav.render_menu(item.items) }}</ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="vertical">
                <a class="navbar-brand" href="{{ 'home'|page }}">
                    {% if this.theme.logo %}
                        <img src="{{ this.theme.logo|media }}" class="img-responsive"/>
                    {% else %}
                        <span style="color: #fff;">Your logo</span>
                    {% endif %}
                </a>
            </span>
        </div>
        <div class="navbars">
            <div id="topbar" class="hidden-xs topbar">
                <div class="wrapper">
                    <div class="left-topbar">
                        <span class="top-text"><span class="text-before-topbar">{{ this.theme.topbar_phone_text }}</span> {{ this.theme.phone }}</span>
                        <span class="top-text hidden-md hidden-sm"><span class="text-before-topbar">{{ this.theme.topbar_email_text }}</span> {{ this.theme.email }}</span>
                    </div>
                    <div class="right-topbar">
                        {% partial 'socials' %}
                    </div>
                    <ul class="social-media">
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {% if mainMenu.menuItems %}
                <ul class="nav navbar-nav">
                    {{ nav.render_menu(mainMenu.menuItems) }}
                </ul>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</nav>
