{% if this.theme.facebook_url %}
<a href="{{ this.theme.facebook_url }}"><span class="custom-social custom-social-fb"><span class="fa fa-facebook"></span></span></a>
{% endif %}
{% if this.theme.twitter_url %}
<a href="{{ this.theme.twitter_url }}"><span class="custom-social custom-social-twitter"><span class="fa fa-twitter"></span></span></a>
{% endif %}
{% if this.theme.linkedin_url %}
<a href="{{ this.theme.linkedin_url }}"><span class="custom-social custom-social-linkedin"><span class="fa fa-linkedin"></span></span></a>
{% endif %}
